@import url(https://fonts.bunny.net/css?family=amita:700);

:root {
    --rojo-carmin: #960018; /* Rojo Carmin */
    --amarillo-fuego: #ffd700; /* Amarillo Fuego */
    --purpura-oscuro: #4b0082; /* Púrpura Oscuro */
    --verde-esmeralda: #008000; /* Verde Esmeralda */
    --negro-solido: #000000; /* Negro Sólido */
}

body {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56be8b1a-2425-4f1d-9a75-24536bd5adc4/dedcw8s-73b75dd6-3ea0-409a-a452-721c48333fd1.png/v1/fill/w_1920,h_1082/hazbin_hotel_wallpaper_4k_by_goldenfurryofficial_dedcw8s-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MiIsInBhdGgiOiJcL2ZcLzU2YmU4YjFhLTI0MjUtNGYxZC05YTc1LTI0NTM2YmQ1YWRjNFwvZGVkY3c4cy03M2I3NWRkNi0zZWEwLTQwOWEtYTQ1Mi03MjFjNDgzMzNmZDEucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.b4lOTYExU5eCyAzdPJqM4HuOL0Pn3GtKFLynq7WharE);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffe643;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #ff6536;
}

img {
    width: 500px;
    height: 300px;
    margin: 12px;
    border: 8px solid #8f8f8f;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1.25s;
}

img:hover {
    border: 5px solid #ff690b;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.08);
    -webkit-filter: none;
    filter: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* MODAL */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 1.25s;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 700px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}
  
/* Caption of Modal Image */
#caption {
    font-family: Amita;
    font-size: 1.2em;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 25px 0;
    height: 150px;
}
  
/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

/* FOOTER */
footer {
    margin-top: 5%;
    color: #ffe643;
    font-family: Amita;
    font-size: 1.75em;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100vw;
}